<div *ngIf="hideTopBar" class="burger-button" (click)="toggleAllMenu()">
  <i class="fa fa-bars custom-burger"></i>
</div>
<div class="top-nav">
  <div *ngIf="!hideTopBar" class="tool-bar top-tool-bar top-left-tool-bar" (click)="toggleSettingsMenu()" >
    <span>{{boardName}}</span>
    <img src="../../assets/images/drop-down.png" class="drop-down" alt="">
  </div>
  <div *ngIf="!hideTopBar" class="tool-bar top-tool-bar top-right-tool-bar" (click)="toggleProfileMenu()" >
    <img src="http://192.168.1.2:3000/public/usersPhoto/{{userImage}}" class="user-photo">
    <span>{{userName}}</span>
    <img src="../../assets/images/drop-down.png" class="drop-down" alt="">
  </div>
</div>

<div class="drop-down-menu" id="settings-menu" *ngIf="showSettingsMenu" #settingsMenu>
  <ul class="nav-content">
    <li class="nav-item">
      <a (click)="saveBoard()">Save board</a>
    </li>
    <hr>
    <li class="nav-item">
      <a href="#">Delete</a>
    </li>
  </ul>
</div>
<div class="drop-down-menu right-drop-down-menu" *ngIf="showProfileMenu">
  <ul class="nav-content">
    <li class="nav-item">
      <a routerLink="../../../profile" target="_blank">My Account</a>
    </li>
    <hr>
    <li class="nav-item">
      <a (click)="logOut($event)">Log out</a>
    </li>
  </ul>
</div>
<div class="drop-down-menu right-drop-down-menu" *ngIf="showAllMenu">
  <ul class="nav-content">
    <li class="nav-item">
      <a (click)="saveBoard()">Save board</a>
    </li>
    <hr>
    <li class="nav-item">
      <a href="#">Delete</a>
    </li>
    <hr>
    <li class="nav-item">
      <a routerLink="../../../profile" target="_blank">My Account</a>
    </li>
    <hr>
    <li class="nav-item">
      <a (click)="logOut($event)">Log out</a>
    </li>
  </ul>
</div>
<div class="whole-window2" #dropDownWindow (click)="hideAllMenus()" *ngIf="showWholeWindow"></div>
