.tool-bar {
  background-color: #707291;
  position: fixed;
  /*box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);*/
  border-radius: 10px;
}
.left-tool-bar {
  width: 65px;
  top: 75px;
  left: 10px;
  z-index: 10;
}

.menuContainer {
  width: 250px;
  height: 120px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #707291;
  border-radius: 15px;
  position: absolute;
  top: 80px;
  left: 80px;
  display: none;
  animation-name: fadeLeft;
  animation-duration: 0.7s;
  z-index: 1;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

.menuContainer:nth-last-child(2) {
  top: 150px;
}

.menuContainer:last-child {
  top: 220px;
}
.menuContainer .slider {
  width: 100%;
  -webkit-appearance: none;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.menuContainer .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.menuContainer .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.menuContainer input {
  width: 100%;
  height: 50px;
  margin: 0 auto 15px auto;
  border-radius: 2px;
  padding: 2px;
}

span img {
  vertical-align: -8px;
  width: 100%;
}
span.tools {
  width: 50px;
  height: 50px;
  display: inline-block;
  cursor: pointer;
  padding: 7px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.tools-div {
  margin-left: 17px;
  margin-top: 2px;
  display: inline-block;
  position: fixed;
  z-index: 10;
}

.tools-div .tools-span {
  background-color: #707291;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

.selected {
  background-color: #3a3b4b;
}
span.tools:hover {
  background-color: #575971;
}
.tool-bar .tool-item {
  width: 100px;
  height: 70px;
  display: inline-block;
  text-align: left;
  margin-left: 8px;
}

.left-menu-animation {
  animation-name: fadeUpLeftMenu;
  animation-duration: 0.8s;
}

.whole-window {
  width: 100%;
  height: 2000px;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  display: none;
  top: 0;
  z-index: 10;
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    left: 115px;
  }
  to {
    opacity: 1;
    left: 80px;
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    top: 100px;
  }
  to {
    opacity: 1;
    top: 75px;
  }
}

@keyframes fadeUpLeftMenu {
  from {
    opacity: 0;
    top: 100px;
  }
  to {
    opacity: 1;
    top: 75px;
  }
}
