<div class="profile-photo">
  <img src="../../assets/images/user-purple.svg" alt="">
</div>
<div>
  <form action="" class="user-info-form">
    <div class="input-group">
      <label for="user-name">Name</label>
      <input type="text" id="user-name" value="Riham">
      <label for="e-mail">E-mail</label>
      <input type="text" id="e-mail" value="rihamhazem56@gmail.com">
      <label for="account-type">Account Type</label>
      <select id="account-type">
        <option value="Student">Student</option>
        <option value="Teacher">Teacher</option>
        <option value="Other">Other</option>
      </select>
    </div>
    <div class="form-footer">
      <a href="">Reset Password</a>
      <input type="submit" value="Save Changes">
    </div>
  </form>
</div>
