<div class="profile-photo">
  <img src="http://192.168.1.2:3000/public/usersPhoto/{{userImage}}" alt="">
</div>
<div>
  <form action="" class="user-info-form">
    <div class="input-group">
      <label for="user-name">Name</label>
      <input type="text" id="user-name" value="{{userName}}">
      <label for="e-mail">E-mail</label>
      <input type="text" id="e-mail" value="{{userEmail}}">
      <label for="account-type">Account Type</label>
      <select id="account-type">
        <option [selected]="userType==='student'" value="Student">Student</option>
        <option [selected]="userType==='teacher'" value="Teacher">Teacher</option>
        <option [selected]="userType==='other'" value="Other">Other</option>
      </select>
    </div>
    <div class="form-footer">
      <a href="">Reset Password</a>
      <input type="submit" value="Save Changes">
    </div>
  </form>
</div>
